/* Start Global Rules */
/* * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

body {
    background: url(images/background-desktop.svg) no-repeat center/cover;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}

/* End Global Rules */

.hero {
    padding: 300px 20px 200px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.hero-img {
    max-width: 500px;
    height: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
    
.cart-summary {
    background-color: white;
    height: 450px;
    max-width: 500px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.cart-summary h1 {
    margin: 0;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-weight: 700;
}

.cart-summary p {
    margin: 0;
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 200;
    color: #929494;
    line-height: 25px;
}

.plan {
    margin: 25px 50px 30px 50px;
    display: flex;
    justify-content: space-around;
    border-radius: 9px;
    background-color: hsl(225, 100%, 98%);

}

.music-img {
    padding: 20px 20px;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price-color {
    color: #929494;
    margin-top: 5px;
}

.change {
    padding: 30px;
    margin-left: 45px;
}

.change a {
    color: hsl(245, 75%, 52%);
}

.payment {
    padding: 17px 17px 17px 17px;
    margin: 0px 50px;
    display: flex;
    justify-content: center;
    color:hsl(225, 100%, 94%);
    font-weight: 700;
    border-radius: 15px;
    background-color: hsl(245, 75%, 52%);
}

.cancel {
    margin: 25px 50px 30px 50px;
    display: flex;
    justify-content: center;
    color: #929494;
    font-weight: 700;
}