/* Start Global Rules */
/* * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

body {
    background: url(images/background-desktop.svg) no-repeat center/cover;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}

/* End Global Rules */

.hero {
    padding: 300px 20px 200px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.hero-img {
    max-width: 500px;
    height: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
    
.cart-summary {
    background-color: white;
    height: 450px;
    max-width: 500px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.cart-summary p {
    margin: 0;
    text-align: center;
    padding-top: 30px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 30px;
    font-weight: bold;
}